<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ol>
      <% messages.forEach(msg => { %>
      <li>
        <b><%- msg.user %></b>: <%- msg.text %> <i>(at <%- msg.added.toLocaleString('de-DE') %>)</i>
      </li>
      <% }); %>
    </ol>
    <form method="POST" action="/new">
      <input type="text" name="user" placeholder="Your name" />
      <input type="text" name="text" placeholder="Your message" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
